@media (max-width: 760px) {
  .single-article .wp-block-post-featured-image.vdv-featured-image {
    width: 100vw;
    margin-left: calc(var(--wp--preset--spacing--40) * -1) !important;
  }
}

.wp-block-query-title {
  font-size: 0px;
}

.wp-block-query-title span {
  font-size: var(--wp--preset--font-size--xxx-large);
}
