@font-face {
  font-family: "Adelle Light";
  src: local("Adelle Light"),
    url("assets/fonts/Adelle/Adelle-Light.woff2") format("woff2");
}

@font-face {
  font-family: "Adelle Thin";
  src: local("Adelle Thins"),
    url("assets/fonts/Adelle/Adelle-Thin.woff2") format("woff2");
}

@font-face {
  font-family: "Adelle Regular";
  src: local("Adelle Regular"),
    url("assets/fonts/Adelle/Adelle-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Adelle";
  src: local("Adelle Semibold"),
    url("assets/fonts/Adelle/Adelle-Semibold.woff2") format("woff2");
}

@font-face {
  font-family: "Adelle Bold";
  src: local("Adelle Bold"),
    url("assets/fonts/Adelle/Adelle-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "Adelle Extrabold";
  src: local("Adelle Extrabold"),
    url("assets/fonts/Adelle/Adelle-Extrabold.woff2") format("woff2"); 
}

@font-face {
  font-family: "Adelle Light Italic";
  src: local("Adelle Light Italic"),
    url("assets/fonts/Adelle/Adelle-LightItalic.woff2") format("woff2");
}

@font-face {
  font-family: "Adelle Thin Italic";
  src: local("Adelle Thin Italic"),
    url("assets/fonts/Adelle/Adelle-ThinItalic.woff2") format("woff2");
}

@font-face {
  font-family: "Adelle Italic";
  src: local("Adelle Italic"),
    url("assets/fonts/Adelle/Adelle-Italic.woff2") format("woff2");
}

@font-face {
  font-family: "Adelle Semibold Italic";
  src: local("Adelle Semibold Italic"),
    url("assets/fonts/Adelle/Adelle-SemiboldItalic.woff2") format("woff2");
}

@font-face {
  font-family: "Adelle Extrabold Italic";
  src: local("Adelle Extrabold Italic"),
    url("assets/fonts/Adelle/Adelle-ExtraboldItalic.woff2") format("woff2");
}
