.wpcf7-form p > label,
.wpcf7-form p > label .wpcf7-form-control-wrap {
  display: block;
  font-family: Lato, sans-serif;
}

input:not([type="submit"]).wpcf7-form-control,
textarea.wpcf7-form-control {
  width: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid;
  color: var(--wp--preset--color--typography);
  font-size: var(--wp--preset--font-size--small);
  padding-top: var(--wp--custom--spacing--xs);
  padding-bottom: var(--wp--custom--spacing--xs);
}

.wpcf7-form-control::placeholder {
  color: white;
  font-size: var(--wp--preset--font-size--small);
}

input[type="submit"].wpcf7-form-control {
  width: 100%;
  background-color: var(--wp--preset--color--brand);
  color: var(--wp--preset--color--base);
  font-weight: var(--wp--custom--font-weight--semi-bold);
  font-size: var(--wp--preset--font-size--small);
  border: none;
  padding-top: var(--wp--custom--spacing--xs);
  padding-bottom: var(--wp--custom--spacing--xs);
  cursor: pointer;
}

.wpcf7-acceptance {
  display: block;
  margin-top: 1rem;
}

.wpcf7-acceptance .acceptance-info {
  margin-top: 1rem;
  font-size: 0.8em;
  opacity: 0.5;
  line-height: 1.4;
  display: block;
}

.wpcf7-acceptance .wpcf7-list-item {
  margin-left: 0;
}
