@import "fonts.css";
@import "forms.css";
@import "footer.css";
@import "layout.css";
@import "responsive.css";
@import "navigation.css";
@import "elements.css";
@import "article.css";
@import "agenda.css";
@import "search.css";
@import "header.css";

body {
  font-size: clamp(15px, 2vw, 18px);
  line-height: 1.8;
}

@media (max-width: 760px) {
  .wp-block-template-part .wp-block-site-logo img {
    max-width: 150px;
  }

  .wp-block-template-part .wp-block-partner-logo img {
    max-height: 100px;
  }
}
