@import "fonts.css";
@import "forms.css";
@import "footer.css";
@import "layout.css";
@import "responsive.css";
@import "navigation.css";

body {
  font-size: 18px;
  line-height: 1.8;
}

@media (max-width: 760px) {
  body {
    font-size: 16px;
    line-height: 1.7;
  }
}

@media (max-width: 760px) {
  header.wp-block-template-part .wp-block-site-logo img {
    max-width: 120px;
  }
}
