<!-- wp:template-part {"slug":"header","theme":"lavalldevidre","tagName":"header","area":"header"} /-->

<!-- wp:group {"align":"full","className":"site-content","style":{"spacing":{"padding":{"right":"var:preset|spacing|40","left":"var:preset|spacing|40"}}},"layout":{"type":"constrained","contentSize":"","justifyContent":"left"}} -->
<div class="wp-block-group alignfull site-content" style="padding-right:var(--wp--preset--spacing--40);padding-left:var(--wp--preset--spacing--40)"><!-- wp:group {"tagName":"main","layout":{"type":"constrained"}} -->
<main class="wp-block-group"><!-- wp:group {"style":{"spacing":{"padding":{"top":"var:preset|spacing|40"}}},"layout":{"type":"constrained","justifyContent":"left"}} -->
<div class="wp-block-group" style="padding-top:var(--wp--preset--spacing--40)"><!-- wp:heading {"align":"wide"} -->
<h2 class="wp-block-heading alignwide">Comerç local</h2>
<!-- /wp:heading --></div>
<!-- /wp:group -->

<!-- wp:spacer {"height":"2em"} -->
<div style="height:2em" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:group {"layout":{"type":"constrained","justifyContent":"left"}} -->
<div class="wp-block-group"><!-- wp:paragraph -->
<p><strong>Aquí trobaràs els principals comerços de Vallvidrera i dels barris de muntanya de Collserola.</strong></p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p><em>Si tens un comerç i vols anunciar-t'hi per aparèixer a la pàgina web, a la revista en paper i per fer possible la Vall de Vidre, <a href="https://lavalldevidre.cat/anunciants/#contacte" data-type="link" data-id="https://lavalldevidre.cat/anunciants/#contacte">contacta'ns</a>!</em></p>
<!-- /wp:paragraph --></div>
<!-- /wp:group -->

<!-- wp:query {"queryId":0,"query":{"perPage":100,"pages":0,"offset":"0","postType":"merchant","order":"asc","orderBy":"title","author":"","search":"","exclude":[],"sticky":"","inherit":false,"parents":[],"format":[]},"enhancedPagination":true,"layout":{"type":"default"}} -->
<div class="wp-block-query"><!-- wp:post-template {"align":"full","style":{"spacing":{"blockGap":"var:preset|spacing|20"}},"layout":{"type":"grid","columnCount":3}} -->
<!-- wp:group {"tagName":"article","className":"query-entry","layout":{"type":"constrained"}} -->
<article class="wp-block-group query-entry"><!-- wp:post-featured-image {"isLink":true,"aspectRatio":"4/3","scale":"contain","style":{"spacing":{"margin":{"bottom":"0"},"padding":{"bottom":"0"}},"border":{"radius":"0px"}}} /--></article>
<!-- /wp:group -->
<!-- /wp:post-template --></div>
<!-- /wp:query -->

<!-- wp:spacer -->
<div style="height:150px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer --></main>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"lavalldevidre","tagName":"footer","area":"footer"} /-->
