<!-- wp:template-part {"slug":"header","theme":"lavalldevidre","tagName":"header","area":"header"} /-->

<!-- wp:group {"align":"full","style":{"spacing":{"padding":{"right":"var:preset|spacing|40","left":"var:preset|spacing|40"}}},"className":"site-content","layout":{"type":"constrained","contentSize":"1200px"}} -->
<div class="wp-block-group alignfull site-content" style="padding-right:var(--wp--preset--spacing--40);padding-left:var(--wp--preset--spacing--40)">
<!-- wp:group {"tagName":"main","align":"full","layout":{"type":"constrained","contentSize":"860px"}} -->
<main class="wp-block-group alignfull">
  <!-- wp:group {"style":{"spacing":{"padding":{"top":"var:preset|spacing|40"}}},"layout":{"type":"constrained"}} -->
  <div class="wp-block-group" style="padding-top:var(--wp--preset--spacing--40)">
    <!-- wp:heading -->
    <h1 class="wp-block-heading">Comerç local</h1>
    <!-- /wp:heading -->
  </div>
  <!-- /wp:group -->

  <!-- wp:query {"queryId":0,"query":{"perPage":9,"pages":0,"offset":"0","postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":true},"enhancedPagination":true,"align":"wide","layout":{"type":"default"}} -->
  <div class="wp-block-query alignwide">
    <!-- wp:group {"style":{"spacing":{"padding":{"top":"0","bottom":"var:preset|spacing|60","left":"0","right":"0"},"margin":{"top":"0","bottom":"0"},"blockGap":"0"}},"layout":{"type":"default"}} -->
    <div class="wp-block-group" style="margin-top:0;margin-bottom:0;padding-top:0;padding-right:0;padding-bottom:var(--wp--preset--spacing--60);padding-left:0">
      <!-- wp:post-template {"align":"full","style":{"spacing":{"blockGap":"var:preset|spacing|20"}},"layout":{"type":"grid","columnCount":3}} -->
      <!-- wp:group {"tagName":"article","className":"query-entry","layout":{"type":"constrained"}} -->
      <article class="wp-block-group query-entry">
        <!-- wp:post-featured-image {"isLink":true,"aspectRatio":"4/3","scale":"contain","style":{"spacing":{"margin":{"bottom":"0"},"padding":{"bottom":"0"}},"border":{"radius":"0px"}}} /-->
      </article>
      <!-- /wp:group -->
    <!-- /wp:post-template -->
    </div>
    <!-- /wp:group -->
  </div>
  <!-- /wp:query -->
</main>
<!-- /wp:group -->
</div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"lavalldevidre","tagName":"footer","area":"footer"} /-->
