<!-- wp:template-part {"slug":"header","theme":"lavalldevidre","tagName":"header","area":"header"} /-->

<!-- wp:group {"align":"full","style":{"spacing":{"padding":{"right":"var:preset|spacing|40","left":"var:preset|spacing|40"}}},"className":"site-content","layout":{"type":"constrained","contentSize":"1200px"}} -->
<div class="wp-block-group alignfull site-content" style="padding-right:var(--wp--preset--spacing--40);padding-left:var(--wp--preset--spacing--40)">
  <!-- wp:group {"tagName":"main","align":"full","style":{"spacing":{"margin":{"top":"0","bottom":"0"},"padding":{"right":"0","left":"0"}}},"layout":{"type":"constrained","contentSize":"860px"}} -->
  <main class="wp-block-group alignfull" style="margin-top:0;margin-bottom:0;padding-right:0;padding-left:0">
    <!-- wp:group {"style":{"spacing":{"padding":{"top":"var:preset|spacing|40"}}},"layout":{"type":"constrained"}} -->
    <div class="wp-block-group" style="padding-top:var(--wp--preset--spacing--40)">
      <!-- wp:query-title {"type":"archive","align":"wide","style":{"typography":{"lineHeight":"1"},"spacing":{"padding":{"top":"0","bottom":"var:preset|spacing|10"}}}} /-->
    </div>
    <!-- /wp:group -->

    <!-- wp:group -->
    <div id="calendar" class="wp-block-group"></div>
    <!-- /wp:group -->
  </main>
  <!-- /wp:group -->

  <!-- wp:template-part {"slug":"aside","theme":"lavalldevidre","tagName":"aside","area":"uncategorized"} /-->
</div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"lavalldevidre","tagName":"footer","area":"footer"} /-->
