<!-- wp:template-part {"slug":"header","theme":"lavalldevidre","area":"header"} /-->

<!-- wp:group {"style":{"spacing":{"padding":{"top":"0","bottom":"0","left":"var:preset|spacing|40","right":"var:preset|spacing|40"},"margin":{"top":"0","bottom":"0"}}},"className":"site-content","layout":{"type":"constrained","contentSize":"1200px"}} -->
<div class="wp-block-group site-content" style="margin-top:0;margin-bottom:0;padding-top:0;padding-right:var(--wp--preset--spacing--40);padding-bottom:0;padding-left:var(--wp--preset--spacing--40)">
  <!-- wp:heading {"level":1,"className":"is-style-hidden"} -->
  <h1 class="wp-block-heading is-style-hidden">La Vall de Vidre</h1>
  <!-- /wp:heading -->

  <!-- wp:group {"tagName":"main","style":{"spacing":{"blockGap":"0","margin":{"top":"0"}}},"layout":{"type":"constrained"}} -->
  <main class="wp-block-group" style="margin-top:0">
    <!-- wp:group {"style":{"spacing":{"margin":{"top":"0","bottom":"0"},"padding":{"top":"var:preset|spacing|50","bottom":"var:preset|spacing|30","left":"0","right":"0"}}},"backgroundColor":"base-2","layout":{"type":"constrained"}} -->
    <div class="wp-block-group has-base-2-background-color has-background" style="margin-top:0;margin-bottom:0;padding-top:var(--wp--preset--spacing--50);padding-right:0;padding-bottom:var(--wp--preset--spacing--30);padding-left:0">
      <!-- wp:query {"queryId":18,"query":{"perPage":"3","pages":"1","offset":0,"postType":"article","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":false,"taxQuery":{"post_tag":[17]},"parents":[]},"enhancedPagination":true} -->
      <div class="wp-block-query">
        <!-- wp:post-template -->
          <!-- wp:columns {"verticalAlignment":null,"align":"wide","style":{"spacing":{"margin":{"top":"0","bottom":"0"},"blockGap":{"left":"0"}},"border":{"radius":"0px"}}} -->
          <div class="wp-block-columns alignwide" style="border-radius:0px;margin-top:0;margin-bottom:0">
            <!-- wp:column {"verticalAlignment":"top","width":"40%"} -->
            <div class="wp-block-column is-vertically-aligned-top" style="flex-basis:40%">
              <!-- wp:post-featured-image {"isLink":true,"aspectRatio":"4/3","height":"","style":{"border":{"width":"0px","style":"none","radius":"0px"}}} /-->
            </div>
            <!-- /wp:column -->

            <!-- wp:column {"width":"60%","style":{"spacing":{"padding":{"right":"var:preset|spacing|20","left":"var:preset|spacing|20","top":"0","bottom":"0"},"blockGap":"0"}}} -->
            <div class="wp-block-column" style="padding-top:0;padding-right:var(--wp--preset--spacing--20);padding-bottom:0;padding-left:var(--wp--preset--spacing--20);flex-basis:60%">
            <!-- wp:post-title {"level":3,"isLink":true,"style":{"typography":{"fontStyle":"normal","fontWeight":"700","textTransform":"none"},"elements":{"link":{"color":{"text":"var:preset|color|typography"}}}},"fontSize":"x-large"} /-->

              <!-- wp:post-excerpt /-->

              <!-- wp:template-part {"slug":"post-meta","theme":"lavalldevidre"} /-->
            </div>
            <!-- /wp:column -->
          </div>
          <!-- /wp:columns -->
        <!-- /wp:post-template -->
      </div>
      <!-- /wp:query -->
    </div>
    <!-- /wp:group -->

    <!-- wp:group {"style":{"spacing":{"padding":{"top":"var:preset|spacing|30","bottom":"var:preset|spacing|40"}}},"className":"is-style-show-mobile-tablet","layout":{"type":"constrained","contentSize":"300px"}} -->
    <div class="wp-block-group is-style-show-mobile-tablet" style="padding-top:var(--wp--preset--spacing--30);padding-bottom:var(--wp--preset--spacing--40)">
      <!-- wp:query {"queryId":81,"query":{"perPage":"2","pages":"1","offset":0,"postType":"merchant","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":false,"parents":[]},"enhancedPagination":true} -->
      <div class="wp-block-query">
        <!-- wp:post-template {"style":{"spacing":{"blockGap":"var:preset|spacing|10"}}} -->
          <!-- wp:post-featured-image {"isLink":true,"style":{"border":{"radius":"0px"}}} /-->
          <!-- /wp:post-template -->
      </div>
      <!-- /wp:query -->
    </div>
    <!-- /wp:group -->

    <!-- wp:group {"align":"wide","style":{"spacing":{"padding":{"bottom":"var:preset|spacing|60"}}},"layout":{"type":"constrained"}} -->
    <div class="wp-block-group alignwide" style="padding-bottom:var(--wp--preset--spacing--60)">
      <!-- wp:group {"style":{"spacing":{"padding":{"bottom":"60px"}}},"layout":{"type":"default"}} -->
      <div id="vitralls" class="wp-block-group" style="padding-bottom:60px">
        <!-- wp:group {"style":{"spacing":{"blockGap":"0"}},"layout":{"type":"flex","orientation":"vertical"}} -->
        <div class="wp-block-group">
          <!-- wp:heading {"style":{"typography":{"lineHeight":"1"}}} -->
          <h2 class="wp-block-heading" style="line-height:1">Vitralls</h2>
          <!-- /wp:heading -->

          <!-- wp:separator {"style":{"spacing":{"margin":{"top":"0.5rem","bottom":"0.5rem"}}},"className":"is-style-default"} -->
          <hr class="wp-block-separator has-alpha-channel-opacity is-style-default" style="margin-top:0.5rem;margin-bottom:0.5rem"/>
          <!-- /wp:separator -->

          <!-- wp:paragraph {"style":{"typography":{"lineHeight":"1"}}} -->
          <p style="line-height:1"><a href="/category/vitralls"><mark style="background-color:rgba(0, 0, 0, 0)" class="has-inline-color has-base-color">.</mark>Verue'n més</a></p>
          <!-- /wp:paragraph -->
        </div>
        <!-- /wp:group -->

        <!-- wp:query {"queryId":23,"query":{"perPage":"3","pages":"1","offset":"0","postType":"article","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":false,"parents":[],"taxQuery":{"category":[7]}},"enhancedPagination":true,"align":"wide","layout":{"type":"default"}} -->
        <div class="wp-block-query alignwide">
          <!-- wp:group {"style":{"spacing":{"padding":{"top":"0","bottom":"0","left":"0","right":"0"},"margin":{"top":"0","bottom":"0"}}},"layout":{"type":"default"}} -->
          <div class="wp-block-group" style="margin-top:0;margin-bottom:0;padding-top:0;padding-right:0;padding-bottom:0;padding-left:0">
            <!-- wp:post-template {"align":"full","style":{"spacing":{"blockGap":"var:preset|spacing|30"}},"layout":{"type":"grid","columnCount":3}} -->
              <!-- wp:pattern {"slug":"vdv/query-entry-lite"} /-->
            <!-- /wp:post-template -->
          </div>
          <!-- /wp:group -->
        </div>
        <!-- /wp:query -->
      </div>
      <!-- /wp:group -->

      <!-- wp:group {"layout":{"type":"default"},"style":{"spacing":{"padding":{"bottom":"60px"}}}} -->
      <div id="persones-personatges" class="wp-block-group" style="padding-bottom:60px">
        <!-- wp:group {"style":{"spacing":{"blockGap":"0"}},"layout":{"type":"flex","orientation":"vertical"}} -->
        <div class="wp-block-group">
          <!-- wp:heading {"style":{"typography":{"lineHeight":"1"}}} -->
          <h2 class="wp-block-heading" style="line-height:1">Persones, personatges</h2>
          <!-- /wp:heading -->

          <!-- wp:separator {"style":{"spacing":{"margin":{"top":"0.5rem","bottom":"0.5rem"}}},"className":"is-style-default"} -->
          <hr class="wp-block-separator has-alpha-channel-opacity is-style-default" style="margin-top:0.5rem;margin-bottom:0.5rem"/>
          <!-- /wp:separator -->

          <!-- wp:paragraph {"style":{"typography":{"lineHeight":"1"}}} -->
          <p style="line-height:1"><a href="/category/persones-personatges"><mark style="background-color:rgba(0, 0, 0, 0)" class="has-inline-color has-base-color">.</mark>Verue'n més</a></p>
          <!-- /wp:paragraph -->
        </div>
        <!-- /wp:group -->

        <!-- wp:query {"queryId":23,"query":{"perPage":"3","pages":"1","offset":"0","postType":"article","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":false,"parents":[],"taxQuery":{"category":[5]}},"enhancedPagination":true,"align":"wide","layout":{"type":"default"}} -->
        <div class="wp-block-query alignwide">
          <!-- wp:group {"style":{"spacing":{"padding":{"top":"0","bottom":"0","left":"0","right":"0"},"margin":{"top":"0","bottom":"0"}}},"layout":{"type":"default"}} -->
          <div class="wp-block-group" style="margin-top:0;margin-bottom:0;padding-top:0;padding-right:0;padding-bottom:0;padding-left:0">
            <!-- wp:post-template {"align":"full","style":{"spacing":{"blockGap":"var:preset|spacing|30"}},"layout":{"type":"grid","columnCount":3}} -->
              <!-- wp:pattern {"slug":"vdv/query-entry-lite"} /-->
            <!-- /wp:post-template -->
          </div>
          <!-- /wp:group -->
        </div>
        <!-- /wp:query -->
      </div>
      <!-- /wp:group -->

      <!-- wp:group {"layout":{"type":"default"},"style":{"spacing":{"padding":{"bottom":"60px"}}}} -->
      <div id="bustia-oberta" class="wp-block-group" style="padding-bottom:60px">
        <!-- wp:group {"style":{"spacing":{"blockGap":"0"}},"layout":{"type":"flex","orientation":"vertical"}} -->
        <div class="wp-block-group">
          <!-- wp:heading {"style":{"typography":{"lineHeight":"1"}}} -->
          <h2 class="wp-block-heading" style="line-height:1">Bústia oberta</h2>
          <!-- /wp:heading -->

          <!-- wp:separator {"style":{"spacing":{"margin":{"top":"0.5rem","bottom":"0.5rem"}}},"className":"is-style-default"} -->
          <hr class="wp-block-separator has-alpha-channel-opacity is-style-default" style="margin-top:0.5rem;margin-bottom:0.5rem"/>
          <!-- /wp:separator -->

          <!-- wp:paragraph {"style":{"typography":{"lineHeight":"1"}}} -->
          <p style="line-height:1"><a href="/category/bustia-oberta"><mark style="background-color:rgba(0, 0, 0, 0)" class="has-inline-color has-base-color">.</mark>Verue'n més</a></p>
          <!-- /wp:paragraph -->
        </div>
        <!-- /wp:group -->

        <!-- wp:query {"queryId":23,"query":{"perPage":"3","pages":"1","offset":"0","postType":"article","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":false,"parents":[],"taxQuery":{"category":[6]}},"enhancedPagination":true,"align":"wide","layout":{"type":"default"}} -->
        <div class="wp-block-query alignwide">
          <!-- wp:group {"style":{"spacing":{"padding":{"top":"0","bottom":"0","left":"0","right":"0"},"margin":{"top":"0","bottom":"0"}}},"layout":{"type":"default"}} -->
          <div class="wp-block-group" style="margin-top:0;margin-bottom:0;padding-top:0;padding-right:0;padding-bottom:0;padding-left:0">
            <!-- wp:post-template {"align":"full","style":{"spacing":{"blockGap":"var:preset|spacing|30"}},"layout":{"type":"grid","columnCount":3}} -->
              <!-- wp:pattern {"slug":"vdv/query-entry-lite"} /-->
            <!-- /wp:post-template -->
          </div>
          <!-- /wp:group -->
        </div>
        <!-- /wp:query -->
      </div>
      <!-- /wp:group -->

      <!-- wp:group {"layout":{"type":"default"},"style":{"spacing":{"padding":{"bottom":"60px"}}}} -->
      <div id="collserola-club" class="wp-block-group" style="padding-bottom:60px">
        <!-- wp:group {"style":{"spacing":{"blockGap":"0"}},"layout":{"type":"flex","orientation":"vertical"}} -->
        <div class="wp-block-group">
          <!-- wp:heading {"style":{"typography":{"lineHeight":"1"}}} -->
          <h2 class="wp-block-heading" style="line-height:1">Collserola Club</h2>
          <!-- /wp:heading -->

          <!-- wp:separator {"style":{"spacing":{"margin":{"top":"0.5rem","bottom":"0.5rem"}}},"className":"is-style-default"} -->
          <hr class="wp-block-separator has-alpha-channel-opacity is-style-default" style="margin-top:0.5rem;margin-bottom:0.5rem"/>
          <!-- /wp:separator -->

          <!-- wp:paragraph {"style":{"typography":{"lineHeight":"1"}}} -->
          <p style="line-height:1"><a href="/category/collserola-club"><mark style="background-color:rgba(0, 0, 0, 0)" class="has-inline-color has-base-color">.</mark>Verue'n més</a></p>
          <!-- /wp:paragraph -->
        </div>
        <!-- /wp:group -->

        <!-- wp:query {"queryId":23,"query":{"perPage":"3","pages":"1","offset":"0","postType":"article","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":false,"parents":[],"taxQuery":{"category":[8]}},"enhancedPagination":true,"align":"wide","layout":{"type":"default"}} -->
        <div class="wp-block-query alignwide">
          <!-- wp:group {"style":{"spacing":{"padding":{"top":"0","bottom":"0","left":"0","right":"0"},"margin":{"top":"0","bottom":"0"}}},"layout":{"type":"default"}} -->
          <div class="wp-block-group" style="margin-top:0;margin-bottom:0;padding-top:0;padding-right:0;padding-bottom:0;padding-left:0">
            <!-- wp:post-template {"align":"full","style":{"spacing":{"blockGap":"var:preset|spacing|30"}},"layout":{"type":"grid","columnCount":3}} -->
              <!-- wp:pattern {"slug":"vdv/query-entry-lite"} /-->
            <!-- /wp:post-template -->
          </div>
          <!-- /wp:group -->
        </div>
        <!-- /wp:query -->
      </div>
      <!-- /wp:group -->

      <!-- wp:group {"layout":{"type":"default"},"style":{"spacing":{"padding":{"bottom":"60px"}}}} -->
      <div id="la-nostra-natura" class="wp-block-group" style="padding-bottom:60px">
        <!-- wp:group {"style":{"spacing":{"blockGap":"0"}},"layout":{"type":"flex","orientation":"vertical"}} -->
        <div class="wp-block-group">
          <!-- wp:heading {"style":{"typography":{"lineHeight":"1"}}} -->
          <h2 class="wp-block-heading" style="line-height:1">La nostra natura</h2>
          <!-- /wp:heading -->

          <!-- wp:separator {"style":{"spacing":{"margin":{"top":"0.5rem","bottom":"0.5rem"}}},"className":"is-style-default"} -->
          <hr class="wp-block-separator has-alpha-channel-opacity is-style-default" style="margin-top:0.5rem;margin-bottom:0.5rem"/>
          <!-- /wp:separator -->

          <!-- wp:paragraph {"style":{"typography":{"lineHeight":"1"}}} -->
          <p style="line-height:1"><a href="/category/la-nostra-natura"><mark style="background-color:rgba(0, 0, 0, 0)" class="has-inline-color has-base-color">.</mark>Verue'n més</a></p>
          <!-- /wp:paragraph -->
        </div>
        <!-- /wp:group -->

        <!-- wp:query {"queryId":23,"query":{"perPage":"3","pages":"1","offset":"0","postType":"article","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":false,"parents":[],"taxQuery":{"category":[14]}},"enhancedPagination":true,"align":"wide","layout":{"type":"default"}} -->
        <div class="wp-block-query alignwide">
          <!-- wp:group {"style":{"spacing":{"padding":{"top":"0","bottom":"0","left":"0","right":"0"},"margin":{"top":"0","bottom":"0"}}},"layout":{"type":"default"}} -->
          <div class="wp-block-group" style="margin-top:0;margin-bottom:0;padding-top:0;padding-right:0;padding-bottom:0;padding-left:0">
            <!-- wp:post-template {"align":"full","style":{"spacing":{"blockGap":"var:preset|spacing|30"}},"layout":{"type":"grid","columnCount":3}} -->
              <!-- wp:pattern {"slug":"vdv/query-entry-lite"} /-->
            <!-- /wp:post-template -->
          </div>
          <!-- /wp:group -->
        </div>
        <!-- /wp:query -->
      </div>
      <!-- /wp:group -->

      <!-- wp:group {"layout":{"type":"default"},"style":{"spacing":{"padding":{"bottom":"60px"}}}} -->
      <div id="ex-libris" class="wp-block-group" style="padding-bottom:60px">
        <!-- wp:group {"style":{"spacing":{"blockGap":"0"}},"layout":{"type":"flex","orientation":"vertical"}} -->
        <div class="wp-block-group">
          <!-- wp:heading {"style":{"typography":{"lineHeight":"1"}}} -->
          <h2 class="wp-block-heading" style="line-height:1">Ex-Libris</h2>
          <!-- /wp:heading -->

          <!-- wp:separator {"style":{"spacing":{"margin":{"top":"0.5rem","bottom":"0.5rem"}}},"className":"is-style-default"} -->
          <hr class="wp-block-separator has-alpha-channel-opacity is-style-default" style="margin-top:0.5rem;margin-bottom:0.5rem"/>
          <!-- /wp:separator -->

          <!-- wp:paragraph {"style":{"typography":{"lineHeight":"1"}}} -->
          <p style="line-height:1"><a href="/category/ex-libris"><mark style="background-color:rgba(0, 0, 0, 0)" class="has-inline-color has-base-color">.</mark>Verue'n més</a></p>
          <!-- /wp:paragraph -->
        </div>
        <!-- /wp:group -->

        <!-- wp:query {"queryId":23,"query":{"perPage":"3","pages":"1","offset":"0","postType":"article","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":false,"parents":[],"taxQuery":{"category":[20]}},"enhancedPagination":true,"align":"wide","layout":{"type":"default"}} -->
        <div class="wp-block-query alignwide">
          <!-- wp:group {"style":{"spacing":{"padding":{"top":"0","bottom":"0","left":"0","right":"0"},"margin":{"top":"0","bottom":"0"}}},"layout":{"type":"default"}} -->
          <div class="wp-block-group" style="margin-top:0;margin-bottom:0;padding-top:0;padding-right:0;padding-bottom:0;padding-left:0">
            <!-- wp:post-template {"align":"full","style":{"spacing":{"blockGap":"var:preset|spacing|30"}},"layout":{"type":"grid","columnCount":3}} -->
              <!-- wp:pattern {"slug":"vdv/query-entry-lite"} /-->
            <!-- /wp:post-template -->
          </div>
          <!-- /wp:group -->
        </div>
        <!-- /wp:query -->
      </div>
      <!-- /wp:group -->
    </div>
    <!-- /wp:group -->
  </main>
  <!-- /wp:group -->

  <!-- wp:template-part {"slug":"aside","theme":"lavalldevidre","tagName":"aside","area":"aside"} /-->
</div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"lavalldevidre","area":"footer"} /-->
