<!-- wp:template-part {"slug":"header","theme":"lavalldevidre","tagName":"header","area":"header"} /-->

<!-- wp:group {"style":{"spacing":{"padding":{"right":"var:preset|spacing|40","left":"var:preset|spacing|40"}}},"className":"site-content","layout":{"type":"constrained","contentSize":"1200px"}} -->
<div class="wp-block-group site-content" style="padding-right:var(--wp--preset--spacing--40);padding-left:var(--wp--preset--spacing--40)">
  <!-- wp:group {"tagName":"main","align":"full","style":{"spacing":{"padding":{"top":"var:preset|spacing|40","bottom":"var:preset|spacing|60"}}},"layout":{"type":"constrained"}} -->
  <main class="wp-block-group alignfull" style="padding-top:var(--wp--preset--spacing--40);padding-bottom:var(--wp--preset--spacing--60)">
    <!-- wp:group {"style":{"spacing":{"padding":{"top":"0"},"margin":{"bottom":"var:preset|spacing|40"}}},"layout":{"type":"constrained"}} -->
    <div class="wp-block-group" style="margin-bottom:var(--wp--preset--spacing--40);padding-top:0">
      <!-- wp:post-featured-image {"aspectRatio":"16/9","style":{"spacing":{"margin":{"bottom":"var:preset|spacing|40"}},"border":{"radius":"0px"}},"className":"vdv-featured-image"} /-->

      <!-- wp:group {"style":{"spacing":{"blockGap":"var:preset|spacing|10","padding":{"top":"0","bottom":"0"}}},"layout":{"type":"flex","orientation":"vertical","justifyContent":"stretch"}} -->
      <div class="wp-block-group" style="padding-top:0;padding-bottom:0">
        <!-- wp:post-title {"level":1} /-->

        <!-- wp:pattern {"slug":"vdv/metadata-entry"} /-->
      </div>
      <!-- /wp:group -->
    </div>
    <!-- /wp:group -->

    <!-- wp:post-content {"lock":{"move":false,"remove":true},"align":"full","layout":{"type":"constrained"}} /-->

    <!-- wp:group {"style":{"spacing":{"margin":{"top":"var:preset|spacing|40"},"padding":{"bottom":"var:preset|spacing|50"}}},"layout":{"type":"constrained"}} -->
    <div class="wp-block-group" style="margin-top:var(--wp--preset--spacing--40);padding-bottom:var(--wp--preset--spacing--50)">
      <!-- wp:group {"tagName":"nav","style":{"spacing":{"padding":{"bottom":"var:preset|spacing|40","top":"var:preset|spacing|40"}}},"layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"space-between"}} -->
      <nav aria-label="Entrades" class="wp-block-group" style="padding-top:var(--wp--preset--spacing--40);padding-bottom:var(--wp--preset--spacing--40)">
        <!-- wp:post-navigation-link {"type":"previous","label":"Anterior: ","showTitle":true,"linkLabel":true,"arrow":"arrow"} /-->

        <!-- wp:post-navigation-link {"label":"Següent: ","showTitle":true,"linkLabel":true,"arrow":"arrow"} /-->
      </nav>
      <!-- /wp:group -->
    </div>
    <!-- /wp:group -->
  </main>
  <!-- /wp:group -->

  <!-- wp:template-part {"slug":"aside","theme":"lavalldevidre","tagName":"aside"} /-->
</div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"lavalldevidre","tagName":"footer","area":"footer"} /-->
